*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.background-area{
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(to left, rgba(9, 9, 9, 0.52), rgba(12, 5, 10, 0.73)),
    url('images/pic3.jpg');
    background-size: cover;
}
.content-area{
    height: 100%;
    width: 50%;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    padding-left: 20%;
}
.content h1{
    font-size: 55px;
    color: white;
}
.content p{
    font-size: 20px;
    color: white;
    margin-top: 15px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content .btn{
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 50px;
    font-size: 20px;
    color: white;
    background-color:tomato;
    border-radius: 6px;
}
.content-two{
    width: 50%;
    padding-left: 15%;
}
.pic-one{
    width: 125%;
    padding-left: 30%;
    height: 100%;
}

.section{
    display: flex;
    margin-top: 10%;
}
.content-two h1{
    font-size: 45px;
}
.content-two p{
    font-size: 20px;
}
.btn-two{
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 8%;
    color: white;
    font-size: 18px;
    background-color: black;
    border-radius: 5px;
}
.section-two{
    display: flex;
    margin-top: 10%;
}
.content-three{
    width: 60%;
    padding-right: 15%;
}
.pic-two{
    width: 90%;
    padding-left: 30%;
    height: 100%;
}
.content-three h1{
    font-size: 45px;
}
.content-three p{
    font-size: 20px;
}
.btn-three{
    border: none;
    outline: none;
    font-size: 18px;
    padding: 15px;
    margin-top: 8%;
    color: white;
    background-color: black;
    border-radius: 5%;
}
.content-four{
    margin-top: 10%;
    height: 100%;
    align-items: center;
}
.contentt{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.content-four h1{
    font-size: 45px;
}
.content-four p{
    font-size: 20px;
    margin-top: 2%;
}
.section-three{
    display: flex;
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
}
.one{
    padding-right: 150px;
    background-color: antiquewhite;
    height: 240px;
    padding-right: 20px;
}
.two{
    padding-right: 150px;
    background-color: rgb(210, 159, 92);
    height: 240px;
    padding-left: 20px;
}